* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: #0f172a;
}

h1 {
    font-size: 4.8rem;
    font-weight: 400;
    color: #f1f5f9;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 2.4rem;
}

.content p {
    font-size: 1.4rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 2.4rem;
    color: #0f172a;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / -1;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #f8fafc;
}

.side-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    color: #eee;
    padding: 2.4rem;
    gap: 2.4rem;
    background-color: #475569;
    position: relative;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 4.8rem;
    margin-right: 1.6rem;
    border-radius: 25%;
}

.nav {
    display: flex;
}

.sidebar a {
    font-size: 2.4rem;
    color: #f1f5f9;
    line-height: 4.8rem;
    font-weight: 300;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #f1f5f9;
    padding: 0 4.8rem;
    box-shadow: #e2e8f0 0px 2px 5px;
    column-gap: 2.4rem;
    position: relative;
}

.profile {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin: 1.6rem;
    margin-left: 0;
}

.profile-picture--small {
    height: 4.8rem;
    border-radius: 50%;
}

.profile-picture--large {
    height: 6.4rem;
    border-radius: 50%;
}

.user {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.content {
    padding: 3.2rem 1.6rem;
}

.search {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.search-bar {
    flex: 1;
    background-color: #cbd5e1;
    height: 3.2rem;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
}

.search-bar input {
    width: 100%;
    background-color: transparent;
    border: 0px;
    padding-left: 1rem;
    padding-bottom: 0.3rem;
    color: #334155;
    font-size: 2rem;
    font-weight: 300;
}

.search-bar input:focus {
    outline: none;
}